<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I recently graduated from
      <a class="underline-link" href="https://www.cis.upenn.edu/" target="_blank">University of Pennsylvania</a> with master's degrees in computer science and architecture,
      after completing a fulfilling internship at
      <a class="underline-link" href="https://geward.com/" target="_blank">Geward</a> to develop the B2C food ordering platform and serving as a consultant at
      <a class="underline-link" href="https://www.hdrinc.com/" target="_blank">HDR</a> to deliver Python generative design tools for Rhino3D.
    </p>

    <p>
      As a full-stack engineer, I take pride in merging design sensibilities with robust engineering practices.
      Leveraging my expertise in both front-end and back-end development, I craft applications that are not only
      visually stunning but also architecturally sound. My approach ensures scalability and efficiency from the server
      and database layers to the user interface, ultimately delivering seamless and captivating user experiences.
    </p>

    <p>
      <strong>When I'm not coding or designing</strong>, I enjoy playing tennis, trying out new recipes
      (primarily Asian style), and photographing architecture, landscape and urban spaces.
    </p>
  </div>
</section>
