<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a recent graduate from
      <a class="underline-link" href="https://www.cis.upenn.edu/" target="_blank">University of Pennsylvania</a> with master's degrees in Computer Science and Architecture.
      During my study, I completed fulfilling internships at
      <a class="underline-link" href="https://www.techforgoodinc.org/" target="_blank">Tech for Good</a>, orchestrating the frontend development of the Government of Tanzania Hospital Information Management System, and the previous year at
      <a class="underline-link" href="https://geward.com/" target="_blank">Geward</a>, developing a B2C food ordering platform.
    </p>

    <p>
      Currently, I am a part-time Teaching Assistant for the
      <a class="underline-link" href="http://cis5550.seas.upenn.edu/" target="_blank">CIS 5550 Internet and Web Systems</a> at the University of Pennsylvania, and also contributing to the frontend development of
      <a class="underline-link" href="https://www.keep-up.online/" target="_blank">Keep Up</a>, a light CRM tool as a passion project.
    </p>


    <p>
      As a full-stack engineer, I take pride in merging design sensibilities with robust engineering practices.
      Leveraging my expertise in both front-end and back-end development, I craft applications that are not only
      visually stunning but also architecturally sound. My approach ensures scalability and efficiency from the server
      and database layers to the user interface, ultimately delivering seamless and captivating user experiences.
    </p>

    <p>
      <strong>When I'm not coding or designing</strong>, I love hitting the tennis courts, making 3D prints,
      whipping up fresh recipes (with a special love for Asian cuisine),
      and capturing the beauty of architecture, landscapes, and urban scenes on my travels.
    </p>
  </div>
</section>
