<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project dwp">
      <figure class="project__pic">
        <a href="https://github.com/Gyoxxi/Disney-World-Planner" target="_blank">
          <img src="{{site.baseurl}}/img/featured/dwp/dwp-desktop.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/Gyoxxi/Disney-World-Planner" target="_blank">Disney World Planner</a>
        </div>
        <p>Disney World Planner is a planning tool that creates an optimized itinerary for a trip to Disney's Magic
          Kingdom Orlando based on user preferred rides, dates, climate/temperature, flights and departure airport.</p>
      </figcaption>
    </div>

    <div class="project trs">
      <figure class="project__pic">
        <a href="https://github.com/Gyoxxi/TRS" target="_blank">
          <img src="{{site.baseurl}}/img/featured/trs/TRS-desktop.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/Gyoxxi/TRS" target="_blank">Upenn Tennis Reservation System</a>
        </div>
        <p>Tennis Reservation System offers dashboard-style calendar for students and staff to easily login and book tennis courts.</p>
      </figcaption>
    </div>
  </div>
</section>
