<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project regeggs">
      <figure class="project__pic">
        <a href="https://github.com/Gyoxxi/Regeggs-Search-Engine" target="_blank">
          <img src="{{site.baseurl}}/img/featured/regeggs/regeggs-desktop.png" alt="">
        </a>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://github.com/Gyoxxi/Regeggs-Search-Engine" target="_blank">Regeggs Search Engine</a>
          </div>
          <p>Regeggs search engine is built on a robust architecture that utilizes Flame for crawling and data processing, paired with a KVS Coordinator/Workers setup for orchestration. This combination allows us to effectively manage the crawling, indexing, and analysis of over 500,000 web pages.</p>
        </figcaption>
      </figure>
    </div>


    <div class="project dwp">
      <figure class="project__pic">
        <a href="https://github.com/Gyoxxi/Disney-World-Planner" target="_blank">
          <img src="{{site.baseurl}}/img/featured/dwp/dwp-desktop.png" alt="">
        </a>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://github.com/Gyoxxi/Disney-World-Planner" target="_blank">Disney World Planner</a>
          </div>
          <p>Disney World Planner is a planning tool that creates an optimized itinerary for a trip to Disney's Magic
            Kingdom Orlando based on user preferred rides, dates, climate/temperature, flights and departure airport.</p>
        </figcaption>
      </figure>
    </div>

    <div class="project trs">
      <figure class="project__pic">
        <a href="https://github.com/Gyoxxi/TRS" target="_blank">
          <img src="{{site.baseurl}}/img/featured/trs/TRS-desktop.jpg" alt="">
        </a>

        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://github.com/Gyoxxi/TRS" target="_blank">UPenn Tennis Reservation System</a>
          </div>
          <p>Tennis Reservation System offers a dashboard-style calendar for students and staff to easily login and book tennis courts.</p>
        </figcaption>
      </figure>
    </div>

  </div>
</section>
