<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Yuxuan Xiong</span>, a full-stack software engineer skilled in designing beautiful user interfaces, robust servers &amp; efficient databases
  </h2>

  {% include employment-status.html %}
<!--  <h3 class="intro__contact">-->
<!--    <span>Get in touch </span>-->
<!--    <span class="emoji pointer"></span>-->
<!--    <span>-->
<!--      <a href="mailto:xyxnusstu@gmail.com" target="_blank" class="highlight-link">xyxnusstu@gmail.com</a>-->
<!--    </span>-->
<!--  </h3>-->

</header>
